body{background-color: #00ff80}
	h1{font-family:"comic sans MS";color: Yellow;background-color: }
	p{font-family:"comic sans MS";color:#800040}
    h3,h2{font-family:"comic sans MS";color:Purple;border-left: Groove;border-color: Green}
    img{border-style: Double;color: Yellow}
    div{background-color: #bf80ff ;font-family:"comic sans MS";color: #ff3385}