body{background-color:Pink}
	h1{font-family:"comic sans MS";color: Yellow;border-style: Dashed;border-color:Orange}
	p{font-family:"comic sans MS";color:Purple;border-style : Dotted;border-color:Green}
    h3,h2{font-family:"comic sans MS";color:Purple;border-left: Groove;border-color: Green}
    img{border-style: Double;color: Yellow}