body{background-color: #00ff80  }
    h1{font-family: "comic sans MS";color: Yellow; border-style : dotted}
    p{font-family:"comic sans MS";color:#800040}
    h3,h2{font-family:"comic sans MS";color:Purple;border-left: Groove;border-color: Green}
    img{border-style: Double;color: Yellow}
    div,h1{font-family:"Times New Roman";color:#ff4da6 }
    div,h2{font-family: "Times New Roman"; color :#ff4da6 }